body {
    font-family: Arial, sans-serif;
    background: #4b87c4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 320px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #696b6d;
}

#result {
    margin-top: 20px;
    color: green;
}